/* .star-list {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #f1f3f4;
  background: #f2f5f5cc;
  cursor: pointer;
}
.star-list .square {
  opacity: 0.16;
  margin-right: 6px;
  font-size: 1.2rem;
}
.star-list .star {
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  margin-right: 6px;
  padding: 5px 7px;
  border-radius: 65%;
}
.star-list .star:hover {
  background: #d3d4d4cc;
}
.star-list .message-title {
  font-size: 15px;
  width: 250px;
  width: 22%;
}
.star-list .message-body {
  width: 63%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.star-list .date {
  margin-left: auto;
  font-size: 12px;
}

@media (max-width: 850px) {
  .star-list {
    padding-bottom: 35px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
  .star-list .square {

    padding: 0px 0 10px;
  }
  .star-list .star {

    position: absolute;
    right: 0;
    bottom: 5px;
  }
} */

/* .star-list .star {
  opacity: 1 !important;
} */
