.star-list {
  display: flex;
  align-items: center;
  /* padding: 10px 15px; */
  font-family: "Roboto", sans-serif;
  background: #fff;
  border-bottom: 1px solid #f1f3f4;
  /* border-right: 1px solid #f1f3f4; */
}
.star-list .square {
  opacity: 0.16;
  margin-right: 13px;
  font-size: 1.2rem;
}
.star-list .star {
  background: none;
  outline: none;
  border: none;
  /* height: 21px; */
  font-size: 1rem;
  /* opacity: 1; */
  margin-right: 13px;
}
.star-list .message-title {
  font-size: 15px;
  width: 250px;
  width: 22%;
  /* border: 1px solid green; */
}
.star-list .message-body {
  width: 63%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.star-list .date {
  margin-left: auto;
  font-size: 12px;
}
