.sent {
  width: 100%;
  margin-top: 50px;
}

.sent .no-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5rem;
  color: rgb(116, 116, 116);
  font-family: "Roboto", sans-serif;
}

.sent-heading {
  display: none;
}

@media (max-width: 650px) {
  .sent {
    margin-top: 20px;
  }
  .sent-heading {
    display: block;
    font-family: "Roboto", sans-serif;
    padding: 5px 15px 0 20px;
    font-size: 0.9rem;
  }
}
