.message-template {
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
  font-family: "Roboto", sans-serif;
  background: #fff;
  border-bottom: 1px solid #f1f3f4;
  cursor: pointer;
  /* border-right: 1px solid #f1f3f4; */
  /* border: 1px solid green; */
}
.message-body .date-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  display: none;
}

.message-template .square {
  opacity: 0.16;
  margin-right: 13px;
  font-size: 1.1rem;
  padding: 10px 0 10px;
}
.message-template .star {
  background: none;
  outline: none;
  border: none;
  /* height: 21px; */
  font-size: 1rem;
  opacity: 0.16;
  margin-right: 13px;
}
.message-template .star-bg {
  opacity: 1 !important;
}
.message-template .message-title {
  font-size: 14.5px;
  width: 210px;
  font-weight: 500;
  /* width: 20%; */
  /* padding: 10px 0 10px; */
  /* border: 1px solid blue; */
  position: relative;
  flex-shrink: 0;
}
.message-template .message-body .message-body-first .message-body-title {
  font-weight: 500;
}

.message-template .message-body {
  flex: 1;
  font-size: 14.5px;

  /* width: 72%; */
  /* flex-grow: 1; */
  /* border: 2px solid orchid; */
  display: flex;
  align-items: center;
  overflow: hidden;
  /* justify-content: space-between; */
}
.message-body .message-body-first {
  /* width: 100%; */
  display: flex;
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
  /* border: 1px solid red; */
}
.message-body .message-body-first .message-body-content {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  /* border: 1px solid blue; */
  /* margin-left: 4px; */
}
.dash {
  /* margin: 0 4px 0 4px; */
  padding: 0 4px 0 4px;
}
.date {
  display: block;
  font-size: 12px;
  margin-left: auto;
  /* border: 1px solid red; */
  width: 80px;
  text-align: end;
  /* align-self: flex-end; */
}
.message-template:hover .date {
  display: none;
}
.message-template:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
}
.message-template:hover .star,
.message-template:hover .square {
  opacity: 0.6;
}

.message-template:hover .message-body .date-icons {
  /* margin-left: 100px; */
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black; */
  width: 150px;
  /* width: 20%; */
  display: flex;
  margin-left: auto;
}
.message-body .date-icons img {
  padding: 8px;
  opacity: 0.54;
}
.message-body .date-icons img:hover {
  opacity: 1;
  background: rgb(230, 227, 227);
  border-radius: 50%;
}

@media (max-width: 850px) {
  .dash {
    display: none;
  }
  .message-template {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 10px;
    padding-bottom: 35px;
    /* padding-bottom: 10px; */
    /* width: 100%; */
  }
  .message-template .square {
    padding: 0px 0 10px;
  }
  .message-template .star {
    position: absolute;
    right: 0;
    bottom: 5px;
  }
  .message-template .message-body .message-body-first .message-body-title {
    margin-bottom: 2px;
  }

  .message-template .message-body .message-body-first {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 40px;
    width: 80%;
  }
  .message-template .message-title {
    position: absolute;
    left: 40px;
    top: 10px;
  }
  .message-template .message-body .date-icons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .date {
    position: absolute;
    right: 13px;
    top: 10px;
  }
}

@media (max-width: 700px) {
  .message-template:hover .message-body .date-icons {
    display: none;
  }
  .message-template:hover .date {
    display: unset;
  }
}

@media screen and (max-width: 700px) {
  .message-template {
    border-bottom: none;
  }
}
