.message-template {
  display: flex;
  align-items: center;
  position: relative;
  /* z-index: 1; */
  padding: 0 15px 0 15px;
  font-family: "Roboto", sans-serif;
  background: #fff;
  border-bottom: 1px solid #f1f3f4;
  cursor: pointer;
}
.message-body .date-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.message-template .square {
  opacity: 0.16;
  margin-right: 13px;
  font-size: 1.1rem;
  padding: 10px 0 10px;
}
.message-template .star {
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  opacity: 0.16;
  margin-right: 13px;
}
.message-template .star-bg {
  opacity: 1 !important;
}
.message-template .message-title {
  font-size: 14.5px;
  min-width: 210px;
  font-weight: 500;
  position: relative;
  flex-shrink: 0;
}
.message-template .message-body .message-body-first .message-body-title {
  font-weight: 500;
}

.message-template .message-body {
  flex: 1;
  font-size: 14.5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.message-body .message-body-first {
  display: flex;
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
}
.message-body .message-body-first .message-body-content {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dash {
  padding: 0 4px 0 4px;
}
.date {
  display: block;
  font-size: 12px;
  margin-left: auto;
  width: 80px;
  text-align: end;
}
.message-template:hover .date {
  display: none;
}
.message-template:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.message-template:hover .star,
.message-template:hover .square {
  opacity: 0.6;
}

.message-template:hover .message-body .date-icons {
  width: 150px;
  display: flex;
  margin-left: auto;
}
.message-body .date-icons img {
  padding: 8px;
  opacity: 0.54;
}
.message-body .date-icons img:hover {
  opacity: 1;
  background: rgb(230, 227, 227);
  border-radius: 50%;
}

@media (max-width: 850px) {
  .dash {
    display: none;
  }
  .message-template {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 35px;
  }
  .message-template .square {
    padding: 0px 0 10px;
  }
  .message-template .star {
    position: absolute;
    right: 0;
    bottom: 5px;
  }
  .message-template .message-body .message-body-first .message-body-title {
    margin-bottom: 2px;
  }

  .message-template .message-body .message-body-first {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 40px;
    width: 80%;
  }
  .message-template .message-title {
    position: absolute;
    left: 40px;
    top: 10px;
  }
  .message-template .message-body .date-icons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .date {
    position: absolute;
    right: 13px;
    top: 10px;
  }
}

@media (max-width: 700px) {
  .message-template {
    padding-top: 14px;
    padding-bottom: 40px;
    border-bottom: none;
  }
  .message-template:hover {
    border: unset;
    box-shadow: unset;
    background: rgb(243, 243, 243);
  }
  .message-template:hover .message-body .date-icons {
    display: none;
  }
  .message-template:hover .date {
    display: unset;
  }

  .message-template .square {
    padding: 0px 0 10px 5px;
  }
  .date {
    right: 20px;
    font-size: 15px !important;
  }
  .message-template .star {
    right: 5px;
  }
  .message-template .message-body .message-body-first {
    left: 50px;
    width: 72%;
    top: 35px;
    font-size: 15px;
  }
  .message-template .message-title {
    position: absolute;
    left: 50px;
    top: 15px;
    font-size: 15px;
  }
}

/* @media screen and (max-width: 700px) {
  
} */
