.inbox-content {
  width: 100%;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  overflow-y: auto;
}

@media (max-width: 650px) {
  .inbox-content {
    margin-top: 20px;
  }
}
