.category-btn {
  display: flex;
  border-bottom: 1px solid #f1f3f4;
}

.category-btn .button {
  height: 50px;
  width: 280px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  color: #777b80;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;

  padding: 7px;
  background: #fff;

  /* font-weight: 400; */
}
.category-btn .button:hover {
  background-color: rgb(241, 241, 241);
}

.category-btn .btn-img {
  margin-right: 12px;
}
.category-btn .btn-img .dull {
  opacity: 0.55;
}
.category-btn .button .btn-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.category-btn .button .btn-info .top {
  display: flex;
  align-items: center;
}

.category-btn .button .btn-info .new {
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
  font-size: 12px;
  color: #fff;
  padding: 1px 2.5px;
}
.category-btn .button .btn-info .new-social {
  background: #1a73e8;
}

.category-btn .button .btn-info .bottom {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
  font-weight: normal;
}
.clear,
.disappear {
  display: none;
}

.border-red,
.border-blue,
.border-green {
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.category-btn .button1 {
  /* background: red; */
  color: #d93025;
  /* display: flex;
  align-items: center; */
  /* display: flex; */
}
.category-btn .button1 .border-red {
  background: #d93025;
}
.category-btn .blank {
  color: #777b80 !important;
}
.category-btn .blank .border-red {
  background: unset;
}

/* .category-btn .button1:focus {
  color: red;
} */
/* .sent .red {
  background: purple;
} */
.category-btn .blank {
  color: unset;
  border-bottom: unset;
}
/* .category-btn .button2:focus {
  color: blue;
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/people_gm_blue600_20dp.png");
} */

/* .category-btn .button2 {
} */

.category-btn .blue {
  color: #1a73e8;
}
.category-btn .blue .border-blue {
  background: #1a73e8;
}

/* .category-btn .button3 {
  background-image: url();
  opacity: 0.54;
} */
.category-btn .green {
  color: #188038;
}

.category-btn .green .border-green {
  background: #188038;
}
