.header {
  width: 100vw;
  display: flex;
  padding: 7px 20px;
  border-bottom: 1px solid #f1f3f4;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1;
  background: #fff;
}

.header .logo {
  width: 240px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 90px;
}

.header .input-field {
  position: relative;
  margin-right: auto;
  width: 720px;
}
.input-field input {
  width: 100%;

  height: 48px;
  background: #f1f3f4;
  border-radius: 9px;
  /* outline: none; */
  border: none;
}
.input-field .search-icon,
.input-field .arrow-down {
  color: #5f6368;
  position: absolute;
}
.search-icon {
  top: 11px;
  left: 20px;
}
.arrow-down {
  right: 30px;
  top: 10px;
}
.marks {
  display: flex;
  align-items: center;
  width: 170px;
  justify-content: space-between;
  padding-left: 20px;
  /* border: 1px solid green; */
}
.marks .grey {
  opacity: 0.54;
}
.gb_Xe {
  width: 28px;
  /* color: red; */
}
.T {
  background: rgb(23, 190, 182);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .header .input-field {
    width: 55%;
  }
}

@media (max-width: 900px) {
  .header .input-field {
    width: 48%;
    /* border: 1px solid green; */
  }
  .marks {
    width: 185px;
  }
}

@media (max-width: 650px) {
  .header {
    display: none;
  }
}
