.bar {
  width: 24px;
  color: #5f6368;
}
.logo {
  display: flex;
}
.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 62px;
  /* border: 2px solid red; */
}
.compose-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 145px;
  border-radius: 25px;
  border: none;
  padding: 0 21px 0 12px;
  font-family: "Poppins", sans-serif;
  font-size: 0.83rem;
  font-weight: 500;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin: 16px 0 16px 8px;
}
.compose-img {
  background-image: url("https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
}
.options-list ul {
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;
  max-height: 200px;
  /* border: 1px solid purple; */
  overflow-y: hidden;
  border-bottom: 1px solid #f1f3f4;
}
.options-list ul:hover {
  border-top: 1px solid #f1f3f4;
  overflow-y: auto;
}
.options-list ul li {
  padding: 4px 5px 4px 25px;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* color: #202124; */
}
/* .options-list ul li span img {
  background-blend-mode: lighten;
} */
.options-list ul li span img {
  opacity: 0.54;
  margin-right: 17px;
}
.number {
  margin-left: auto;
}
/* .manage-icon {
  height: 20px;
  width: 20px;
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/settings_black_20dp.png");

  
} */

.meet {
  border-bottom: 1px solid #f1f3f4;
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;

  padding: 14px 0 14px 25px;
}
.meet p {
  margin-bottom: 9px;
}
.meet ul li {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.meet ul li span img {
  opacity: 0.54;
  margin-right: 17px;
}
