/* .bar {
  width: 24px;
  color: #5f6368;
}
.logo {
  display: flex;
}
.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 62px;
}
.compose-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 145px;
  border-radius: 25px;
  border: none;
  padding: 0 21px 0 12px;
  font-family: "Poppins", sans-serif;
  font-size: 0.83rem;
  font-weight: 500;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin: 16px 0 16px 8px;
}
.compose-img {
  background-image: url("https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
}
.options-list ul {
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;
  max-height: 208px;
  overflow-y: hidden;
  border-bottom: 1px solid #f1f3f4;
}
.options-list ul:hover {
  border-top: 1px solid #f1f3f4;
  overflow-y: auto;
}
.options-list ul li {
  padding: 4px 8px 4px 25px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #202124;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}
.options-list ul li:hover {
  background-color: #f1f3f4de;
}

.red-highlight {
  color: #d93025 !important;
  background: #fceae9;
  font-weight: 600;
}
.red-highlight:hover {
  background: #fceae9 !important;
}
.highlight {
  font-weight: 600;
  background-color: #e0e2e2de;
}
.highlight:hover {
  background-color: #e0e2e2de !important;
}
.options-list ul li span img {
  opacity: 0.54;
  margin-right: 17px;
}
.number {
  margin-left: auto;
}
.red-highlight span img {
  opacity: 1 !important;
}


.meet {
  border-bottom: 1px solid #f1f3f4;
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;

  padding: 14px 0 14px 25px;
}
.meet p {
  margin-bottom: 9px;
}
.meet ul li {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.meet ul li span img {
  opacity: 0.54;
  margin-right: 17px;
}

.hangout {
  border-bottom: 1px solid #f1f3f4;
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;

  padding: 14px 10px 14px 25px;
}
.hangout p {
  margin-bottom: 9px;
}
.hangout-flex {
  display: flex;
  align-items: center;
}
.hangout-flex .T,
.hangout-flex .name {
  margin-right: 3px;
}
.hangout-flex .cross {
  margin-left: auto;
}

@media (max-width: 850px) {
  .sidebar {
    width: 220px;
  }
}

@media (max-width: 650px) {
  .sidebar {
    display: none;
  }
} */

/* .bar {
  width: 24px;
  color: #5f6368;
}
.logo {
  display: flex;
} */
