/* different */
.message-list {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #f1f3f4;
  background: #fff;
}
.message-list .square {
  opacity: 0.16;
  margin-right: 6px;
  font-size: 1.2rem;
}
.message-list .star {
  background: none;
  outline: none;
  border: none;
  /* height: 21px; */
  font-size: 1rem;
  margin-right: 6px;
  padding: 5px 7px;
  border-radius: 65%;
}
.message-list .star:hover {
  background: #d3d4d4cc;
}
.message-list .message-title {
  font-size: 15px;
  width: 250px;
  width: 22%;
}
.message-list .message-body {
  width: 63%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.message-list .date {
  margin-left: auto;
  font-size: 12px;
}
