.message-box {
  width: 440px;
  height: 468px;
  /* border: 1px solid green; */
  background: #fff;
  position: fixed;
  z-index: 1;
  right: 67px;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  display: none;
}
.display-box {
  display: block;
}
.new-message-head {
  background-color: #2d2e30;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  /* height: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.new-message-head p {
  color: white;
  font-size: 15px;
}

.new-message-head .new-message-icons {
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  /* justify-content: center; */
  /* justify-content: start; */
}

.new-message-head .new-message-icons i {
  color: #fff;
  opacity: 0.54;
  font-size: 0.9rem;
  padding-left: 11px;
  cursor: pointer;
}
.inner {
  padding: 0 17px;
}
.inner input {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /* background: red; */
  border-bottom: 1px solid #f1f3f4;
}
.inner input::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.message-body textarea {
  width: 100%;
  outline: none;
  /* border: none; */
  margin-top: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /* background: #fff; */
}

.message-bottom {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.message-bottom .send-btn button {
  padding: 10px 7px 10px 17px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: #1a73e8;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-right: 5px;
  font-weight: bold;
}
.message-bottom .send-btn button .send {
  /* padding: 10px 3px 10px 6px; */
  /* border-right: 1px solid black; */
  padding-right: 10px;
  border-right: 1px solid rgb(63, 63, 63);
}
.message-bottom .send-btn button .send-icon {
  padding-left: 7px;
}
.message-bottom .message-icons span img {
  opacity: 0.54;
  padding: 0 6px;
}
.message-bottom .right-icon {
  margin-left: auto;
}
.message-bottom .right-icon span img {
  opacity: 0.54;
  padding-left: 5px;
}
