.mobile-searchbar {
  display: none;
}

@media (max-width: 650px) {
  .mobile-searchbar {
    display: block;
    position: relative;
    top: 2vh;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
  }
  .mobile-searchbar .mobile-input-field {
    width: 90%;
    margin: auto;
    height: 100%;
    position: relative;
  }
  .mobile-searchbar .mobile-input-field input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid #bebfc0;
    padding-left: 50px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
  }
  .mobile-searchbar .mobile-input-field .mobile-bar {
    width: 24px;
    color: #5f6368;
    position: absolute;
    top: 25%;
    left: 4%;
  }
  .mobile-searchbar .mobile-input-field .mobile-T {
    position: absolute;
    right: 3%;
    top: 24%;
    background: rgb(23, 190, 182);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
}

.T {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5px;
}
