ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  cursor: pointer;
}
/* body {
  overflow: hidden;
} */
.middle {
  position: absolute;
  top: 63px;
  left: 260px;
  right: 53px;
  /* border: 1px solid black; */
  /* width: 70%;
  width: 1045px; */
}

@media (max-width: 850px) {
  .middle {
    left: 230px;
  }
}
@media (max-width: 800px) {
  .middle {
    right: 0;
  }
}
@media (max-width: 700px) {
  .middle {
    left: 200px;
  }
}
@media (max-width: 650px) {
  .middle {
    /* right: 0; */
    left: 0;
    top: 0;
    /* top: 9vh; */
  }
  .Hide-app {
    overflow-y: hidden;
  }
}

/* ::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
} */
