.top-line {
  position: fixed;
  padding: 14px 20px 14px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 53px;
  left: 260px;
  background: #fff;
  border-bottom: 1px solid #f1f3f4;
  /* width: 75%; */
  /* border-right: 1px solid #f1f3f4; */
  font-family: "Roboto", sans-serif;
  z-index: 1;
  /* top: 100px; */
}
.top-line .left {
  /* padding-right: 50%; */
  display: flex;
}
.top-line .left i {
  color: black;
  opacity: 0.54;
}
.top-line .left .square {
  padding-right: 10px;
  padding-left: 15px;
}
.top-line .left .arrow-down {
  padding-right: 28px;
}
.top-line .left .reload {
  padding-right: 28px;
}

.top-line .right {
  display: flex;
  align-items: center;
}
.top-line .right .fifty {
  font-size: 14px;
  margin-right: 5px;
}
.top-line .right .less,
.top-line .right .greater {
  font-size: 0.7rem;
  opacity: 0.54;
  padding: 0 15px;
}
.top-line .right .keyboard {
  opacity: 0.54;
  padding-left: 15px;
}
.top-line .right .arrow-down {
  opacity: 0.54;
  font-size: 0.8rem;
  padding-left: 8px;
}

@media (max-width: 850px) {
  .top-line {
    left: 230px;
  }
}
@media (max-width: 700px) {
  .top-line {
    right: 0;
  }
}
@media (max-width: 650px) {
  .top-line {
    display: none;
  }
}
