.mobile-nav {
  display: none;
}

@media (max-width: 650px) {
  .mobile-nav {
    font-family: "Roboto", sans-serif;

    padding-right: 8px;

    background: #fff;
    width: 300px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    z-index: 2;

    display: block;
    transform: translateX(-100vh);
    transition: 1s all ease;
  }

  .display-nav {
    display: block;
    transform: translateX(0);
    /* animation: displayMenu 2s forwards;
    -webkit-animation: displayMenu 2s; */
  }
  .mobile-nav .mobile-logo {
    color: #d93025;
    padding: 10px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-family: "Poppins", sans-serif;

    border-bottom: 1px solid #f1f3f4;
  }

  .mobile-nav .mobile-nav-button li {
    display: flex;
    align-items: center;
    padding: 13px 3px 13px 15px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #202124;
    border: none;
  }
  .mobile-nav .mobile-nav-button li img {
    margin-right: 15px;
    width: 1.55rem;
  }

  .contact-icon,
  .calender-icon,
  .mobile-grey {
    margin-right: 15px;
  }

  .mobile-dull {
    opacity: 0.8;
  }
  .mobile-nav .highlight {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

  .mobile-nav .mobile-options-list .all-labels {
    padding: 10px 0 5px 15px;
    font-size: 14px;
  }
  .mobile-nav .mobile-options-list .mobile-options-top {
    border-bottom: 1px solid #f1f3f4;
  }
  .mobile-nav .mobile-options-list ul li {
    /* background: #ccc; */
    padding: 4px 8px 4px 15px;
    padding: 13px 3px 13px 15px;
    display: flex;
    align-items: center;
    color: #202124;
  }
  .mobile-nav .mobile-options-list ul li img {
    margin-right: 15px;
    width: 1.55rem;
  }

  .mobile-nav .mobile-options-list .mobile-options-top .calender-icon,
  .mobile-nav .mobile-options-list .mobile-options-top .contact-icon {
    font-size: 1.55rem;
  }

  .blue-highlight {
    color: #1a73e8 !important;
    background: #d6e6fa;
    font-weight: 500;
  }
  .green-highlight {
    color: #188038 !important;
    font-weight: 500;
    background: #d3f8de;
  }
}
